.counter-header{
    padding: .5rem;
    display: flex;
    justify-content:first baseline;
    background-color: rgb(97, 97, 97);
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 2px 2px 10px 2px rgb(103, 102, 102);
    position: fixed;
    z-index: 1;
}

.logo{
    position: relative;
    display: flex;
    justify-content: center;
    width: 70px;
    border-radius: 50%;
    left: 1.5rem;
}


