.Modal{
    text-align: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(159, 155, 155, 0.973);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 50px;
}

.container{
    display: flex;
    position: relative;
    top: 2rem;
    width: 800px;
    height: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 2px rgb(97, 96, 96);
    background-color: rgb(230, 224, 224);
}

.image-modal{
    position: fixed;
    display: flex;
    top: 8rem;
    width: 200px;
    height: 250px;
}
.description{
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center; 
    align-items: center;
    font-size: 20px;
    width: 700px;
    height:auto;
}

.description-text{
    color: rgb(10, 10, 10);
    position:fixed;
    display: flex;
    top: 30rem;
    width: 500px;
    height: auto;
}

.closed{
    z-index: 1;
    position: absolute;
    top: 6rem;
    right: 18rem;
    display:flex ;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius:5px ;
    background-color: rgba(90, 86, 86, 0.71);
    border: none;
    color: white;
    font-size: 30px;
}

.closed:hover{
    box-shadow: 1px 2px 10px 1px grey;
    background-color: rgba(232, 12, 12, 0.519);
    color: black;
}

.price-modal{
    display: flex;
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 30px;
    top:2rem ;
}

.btn-modal{
    position: absolute;
    height: 2rem;
    background-color: rgb(19, 18, 18);
    transition: .3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6rem;
    color: white;
    width: 150px;
    transition: .1s all;
}

.btn-modal:hover{
    background-color: rgb(84, 81, 81);
    cursor: pointer;
}

.title{
    color: black;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    bottom: 1rem;
}


