.category-header{
    display: flex;
    position: absolute;
    justify-content:first baseline ;
    left: .5rem;
    width: 200px;
    text-align: center;
    border-right:2px solid rgb(122, 119, 119) ;
    top:13rem;
}

.categories-section{
    font-size: 30px;
}

.list-categories{
    position: relative;
    display: flex;
    list-style: none;
    align-items: baseline;
    margin-bottom: 10px;
    transition:.3s all;
}

.list-categories:hover{
    transform: scale(1,1.1);
    color: crimson;background-color: rgb(225, 222, 222);

}