.container-images{
    position: relative;
    display: flex;
    padding: 9rem;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    margin-bottom: 5rem;
}

.card{
    position: relative;
    display: flex;
    margin:.9rem;
    margin-top: .5rem;
    padding: 1rem;
    padding-top: .5rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 3rem;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 3px 15px 2px rgb(211, 209, 209); 
}

.images-producs{
    display: flex;
    width: 200px;
    height: 270px;
}

.images-producs img{
    width: 100%;
    height: auto;
}

.container-title{
    width: 150px;
    height: 50px;
    white-space: nowrap;
}

.title-product{
    font-size: 25px;
    font-weight: bold;
}

.add-cart{
    position: relative;
    margin: .5rem;
    height: 2rem;
    background-color: rgba(9, 9, 9, 0.725);
    transition: .3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    display: flex;
    top: .5rem;
}

.add-cart:hover{
    background-color: rgb(37, 37, 35);
    
}

.text{
    position: relative;
    bottom: .7rem;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    font-size: 20px;
    color: white;
    bottom: .9rem;
    transition: .3s ease;
}

.price{
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: rgb(5, 5, 5);
    font-weight: bold;
    top: .5rem;
}













