.container-images{
    width: 80%;
    position: relative;
    display: flex;
    left: 8rem;
    padding: 1rem;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    margin-bottom: 5rem;
}

.card{
    position: relative;
    display: flex;
    margin:.9rem;
    margin-top: .5rem;
    padding: 1rem;
    padding-top: .5rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 3rem;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 3px 15px 2px rgb(211, 209, 209); 
}

.images-producs{
    display: flex;
    width: 200px;
    height: 270px;
}

.images-producs img{
    width: 100%;
    height: auto;
}

.container-title{
    width: 150px;
    height: 50px;
    white-space: nowrap;
}

.add-cart{
    position: relative;
    margin: .5rem;
    height: 2rem;
    background-color: rgba(9, 9, 9, 0.725);
    transition: .3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    display: flex;
    top: .5rem;
}

.add-cart:hover{
    background-color: rgb(37, 37, 35);
    
}

.text{
    position: relative;
    bottom: .7rem;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    font-size: 20px;
    color: white;
    bottom: .9rem;
    transition: .3s ease;
}

.price{
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: rgb(5, 5, 5);
    font-weight: bold;
    top: .5rem;
}

.tooltiptext {
  display: flex;
  flex-direction: column;
  width:100%;
  height: auto;
  font-size: 15px;
  background-color: #cbcbcb;
  color: #0f0e0e;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 6.5rem;
  opacity: 0;
  margin: 0; 
  transition: opacity 0.5s;
  white-space: pre-wrap; 
  
}

.title-product{
    font-size: 25px;
    font-weight: bold;
}

.title-product:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}













