.flex-col {
    z-index: 10;
    position: fixed;
    top: 4.6rem;
    right: 1.2rem;
    width: 400px;
    background-color:white;
    border: 1px solid rgb(191, 188, 188);
    border-radius:10px ;
    border-bottom: 2px solid rgb(182, 165, 165);
    border-right: 1px solid rgb(182, 165, 165);
    overflow: hidden;
}

.flex-col::before{
    content: '';
    position: absolute;
    top: -.7rem;
    right: 2rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.selected-products{
    position: relative;
    left: -2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;    
    width: 97%;
    height: 2rem;
    padding: 20px;
    box-shadow: 0px 2px 5px 1px rgba(191, 190, 190, 0.748) ;
}

.selected-product-cart{
    width: 40px;
    height: 50px;
    position: relative;
    right: .8rem;
}

.name-product{
    position: relative;
    right: 1rem;
}

.price-product{
    position: relative;
    right: 1.4rem;
}

.count{
    position: relative;
    right: 1.4rem;
}

.total-cost{
    font-weight: bold;
    text-align: center;
}